/* --------------------
      Base Styles
-------------------- */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: 'Old Standard TT', sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
  padding-top: 2px;
  font-size: 1rem;
}

ul {
  padding-left: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: serif;
  /* background: url("../Images/bg-plane.jpg") center no-repeat;
  background-size: cover; */
  background-color: #ccc;
}

.bg-content {
  background-color: rgba(64,64,64,.8);
}

/* --------------------
      Nav
-------------------- */

.bg-gradient {
  background-color: #1a1c17;
  border-bottom: 1px solid #f1f1f1;
  box-shadow: 0 3px 10px;
}

.navbar-dark .navbar-toggler {
  border-color: #696969;
}

/* --------------------
      Content
-------------------- */

.title {
  color: #4d4d4d;
  text-shadow: 4px -1px 8px #696969;
  font-size: 3rem;
}

.form-control {
  font-family: 'Old Standard TT', sans-serif;
}

body a:hover {
  color: lightgreen;
}

div.homebanner hr {
  border-color: #4d4d33
}

.homebanner {
  margin-top: 70px;
}

/* --------------------
      Footer
-------------------- */

.main-footer {
  border-top: solid 1px #f1f1f1;
  background-color: #000;
  color: #fff;
  padding: 0 5px;
  box-shadow: 0 -1px 10px #000;
}

footer a:hover {
  color: orange;
  text-decoration: underline dotted;
}

body hr,
footer hr {
  border-color: #fff
}

/* --------------------
      Media Queries
-------------------- */

@media (min-width: 768px) {
  .homebanner {
    margin: 70px auto 10px;
    width: 100%;
  }
}
