{% extends "layout.html" %}
{% load bootstrap3 %}

{% block title %}Update Contact Card{% endblock %}

{% block content %}
<div class="container homebanner">
  <h1 class="title">Update Contact Card...</h1>
  <hr>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto px-4 py-3 col-md-11 bg-content my-2 text-white align-self-center rounded">
      <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" class="btn" value="Update">
      </form>
    </div>
  </div>
</div>

{% endblock %}
