{% extends "layout.html" %}

{% block title %}My Profile {% endblock %}

{% block content %}


<div class="container homebanner">
  <h1 class="title">{{ user.guestuser.first_name }}'s Profile</h1>
  <hr>
</div>

{% if messages %}
{% for message in messages %}
<div class="container col-md-4 alert alert-success alert-dismissible fade show align-self-center rounded" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
{% endif %}

<div class="container">
  <div class="accordion" id="accordionExample">
    <div class="bg-content text-white">

      <div class="" id="headingContact">
        <h5 class="mb-0">
          <button class="btn mx-auto col-sm-12 bg-content text-white" type="button" data-toggle="collapse" data-target="#collapseContact" aria-expanded="true" aria-controls="collapseContact">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="pt-2">Contact Card</h2>
              </div>

            </div>
          </button>
        </h5>
      </div>
      <div id="collapseContact" class="collapse show" aria-labelledby="headingContact" data-parent="#accordionExample" style="">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="mx-auto mb-4 col-md-5">
                <table>
                  <th><u>Contact:</u></th>
                  <tr>
                    <td>Name:</td>
                    <td class="pl-4">{{ user.guestuser.last_name }}, {{ user.guestuser.first_name }}</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td class="pl-4">{{ user.guestuser.email }}</td>
                  </tr>
                  <tr>
                    <td>Telephone:</td>
                    <td class="pl-4">{{ user.guestuser.telephone_number }}</td>
                  </tr>
                </table>
              </div>
              <div class="mx-auto col-md-5">
                <table>
                  <th><u>Address:</u></th>
                  <tr>
                    <td>Street:</td>
                    <td class="pl-4">{{ user.guestuser.address_street }}</td>
                  </tr>
                  <tr>
                    <td>Postcode:</td>
                    <td class="pl-4">{{ user.guestuser.address_postcode }}</td>
                  </tr>
                  <tr>
                    <td>City:</td>
                    <td class="pl-4">{{ user.guestuser.address_city }}</td>
                  </tr>
                  <tr>
                    <td>Country:</td>
                    <td class="pl-4">{{ user.guestuser.address_country }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row justify-content-end">
              <div class="btn">
                <a href="/e_reg/my_profile/contact_update/"><u>edit</u></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="" id="headingRoom">
        <h5 class="mb-0">
          <button class="btn mx-auto col-sm-12 bg-content text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseRoom" aria-expanded="false" aria-controls="collapseRoom">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="pt-2">Room Preferences</h2>
              </div>
            </div>
          </button>
        </h5>
      </div>
      <div id="collapseRoom" class="collapse" aria-labelledby="headingRoom" data-parent="#accordionExample" style="">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="mx-auto px-4 col-md-11">
                <table>
                  {% if user.guestuser.room_preferences %}
                    {% for preference in user.guestuser.room_preferences %}
                    <tr>
                      <td class="py-1">{{ preference }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td>Please add some room prefences! <br> Make sure the hotel knows exactly what you desire.</td>
                    </tr>
                  {% endif %}
                </table>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row justify-content-end">
              <div class="btn">
                <a href="/e_reg/my_profile/room_preference_update/"><u>edit</u></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="" id="headingHabit">
        <h5 class="mb-0">
          <button class="btn mx-auto col-sm-12 bg-content text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseHabit" aria-expanded="false" aria-controls="collapseHabit">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="pt-2">Habits</h2>
              </div>
            </div>
          </button>
        </h5>
      </div>
      <div id="collapseHabit" class="collapse" aria-labelledby="headingHabit" data-parent="#accordionExample">
        <div class="card-body">
          ...
          <div class="container">
            <div class="row justify-content-end">
              <div class="btn">
                <a href="#"><u>edit</u></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="" id="headingExtra">
        <h5 class="mb-0">
          <button class="btn mx-auto col-sm-12 bg-content text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseExtra" aria-expanded="false" aria-controls="collapseExtra">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="pt-2">Extras</h2>
              </div>
            </div>
          </button>
        </h5>
      </div>
      <div id="collapseExtra" class="collapse" aria-labelledby="headingExtra" data-parent="#accordionExample">
        <div class="card-body">
          ...
          <div class="container">
            <div class="row justify-content-end">
              <div class="btn">
                <a href="#"><u>edit</u></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="" id="headingMember">
        <h5 class="mb-0">
          <button class="btn mx-auto col-sm-12 bg-content text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseMember" aria-expanded="false" aria-controls="collapseMember">
            <div class="row">
              <div class="col-sm-12">
                <h2 class="pt-2">Hotel Memberships</h2>
              </div>
            </div>
          </button>
        </h5>
      </div>
      <div id="collapseMember" class="collapse" aria-labelledby="headingMember" data-parent="#accordionExample">
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="mx-auto px-4 col-md-11">
                <table>
                  {% if hotelmembership %}
                    {% for hotelmemberships in hotelmembership %}
                    <tr>
                      <td class="py-1">{{ hotelmemberships.membership_programme_name }}</td>
                      <td class="pl-4">{{ hotelmemberships.membership_number }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                      <td>Already a member with any Hotel Chains? <br> Store them here to have easy access to them.</td>
                    </tr>
                  {% endif %}
                </table>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row justify-content-end">
              <div class="btn">
                <a href="{% url 'e_reg:hotel_membership_update' %}"><u>edit</u></a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}
