{% extends 'layout.html' %}

{% block title %}About {% endblock %}

{% block content %}

<div class="container homebanner">
  <h1 class="title">About TIDICO Solutions...</h1>
  <hr>
</div>

<div class="container mb-2">
  <div class="row">
    <div class="col-md order-md-2 px-4 py-3 bg-content mt-2 text-white align-self-center rounded">
      <p>
        <strong><em>TIDICO Solutions</em></strong> believes in the benefits and advantages technology has to offer the hospitality industry to increase guest satisfaction
        while making processes more efficient.
      </p>
      <p>
        Having spent many years working in various Front Office positions, the importance of building personal connections with guests is the pinnacle of providing an
        enjoyable and memorable stay.
        At TIDICO Solutions, we aim to provide the same rapport with guests by reaching out to guests on a personal level through a platform where their information is
        stored and shared prior to guest arrival,
        and where guests are able to place special requests and orders prior to arrival so the property they will visit may be prepared in advance.
      </p>
      <p>
        The E-Reg platform allows guests to fill in all the fields required at every hotel one visits.
      </p>
    </div>
  </div>
</div>

{% endblock %}
