{% extends 'layout.html' %}

{% block title %}Contact {% endblock %}

{% block content %}

<div class="container homebanner">
  <h1 class="title">Contact...</h1>
  <hr>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto px-4 py-3 col-md-5 mx-auto bg-content mt-2 text-white align-self-center rounded">
      <ul>
        <li class="mb-2">Telephone: +31 (0) 629 400 311</li>
        <li class="mb-2">Email: info@tidico-solutions.com</li>
        <ul class="mb-2">Address:
          <li class="mx-4">Bermuda 104</li>
          <li class="mx-4">1505XC, Zaandam</li>
        </ul>
        <li class="mb-2">KVK Nummer: </li>
    </div>
  </div>
</div>

{% endblock %}
